<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".TagSettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".modifier.TagModifierActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
    </application>
</manifest>